/* =====================================================
   SVOS - RESPONSIVE
===================================================== */

@media (max-width: 1000px) {

    .hero {
        grid-template-columns: 1fr;

        text-align: center;

        padding-top: 60px;
    }

    .hero-content {
        margin: auto;
    }

    .hero-buttons {
        justify-content: center;
    }

    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media (max-width: 700px) {

    .navbar {
        padding: 15px 5%;

        flex-direction: column;

        gap: 15px;
    }

    .nav-links {
        gap: 12px;

        flex-wrap: wrap;

        justify-content: center;
    }

    .nav-links a {
        font-size: 13px;
    }

    .hero {
        padding: 50px 5%;
    }

    .hero h1 {
        font-size: 42px;
    }

    .hero p {
        font-size: 16px;
    }

    .section {
        padding: 65px 5%;
    }

    .section-heading h2 {
        font-size: 30px;
    }

    .services-grid {
        grid-template-columns: 1fr;
    }

}


@media (max-width: 450px) {

    .hero h1 {
        font-size: 35px;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .btn {
        width: 100%;
    }

}
